*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shadow-c{
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
}
.bg-image{
    background-image: url('/images/background1.jpg');
}

.member-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.26);
}
.blog-card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.26);
}
.blog-card h1{
    padding: 10px;
}
.blog-card p{
    padding: 10px;
}
.member-card-wrap, .blog-card-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

}
/* media Queries */
@media screen and (min-width:600px) {
    .member-card-wrap ,.blog-card-wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    
    }
}

@media screen and (min-width:900px) {
    .member-card-wrap ,.blog-card-wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    
    }
}
